.user{
    width: 100vh;

    .box{
        width: 50%;
        background: #ffffff33;
        margin: 0 auto;
        padding: 200PX;
        .img{

        }
        .overview{
            color: #fff;
        }
        .vote_average{
            color: rebeccapurple;
            font-size: 15px;
    }
}
}