.loading{text-align: center;}
.user{
    background-image: linear-gradient(to right, #333 #f83b3b) rgb(161,238,245)70% ;
    padding: 100px;
    box-sizing: border-box;
    height: 100vh;
    .box{
        width: 80%;
        height: 500px;
        background: #ddd;
        margin: 10px 0 auto;
    }
    .name{margin-left: 150px; margin-top: 10px;}
    .email{margin-left: 150px; margin-top: 10px;}
    .phone{margin-left: 150px; margin-top: 10px;}
    .websit{margin-left: 150px; margin-top: 10px;}
}
.h2{text-align: center;}    
